.banner-contanier{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-contanier img{
    width: 100%;
    padding: 1rem;
    border-radius: 2rem;
}

#spotify-icon{

    margin-left: .25rem;
    margin-top: 1rem;
}