<ion-content [fullscreen]="true">
  <figcaption class="banner-contanier">
    <img src="assets/img/banner.png" alt="asda">
  </figcaption>
  <ion-list [inset]="true" (click)="openUrlbasicShare()">
    <ion-item [button]="true">
      <ion-icon color="danger" slot="start" name="share-outline" size="large"></ion-icon>
      <ion-label>Compartir Fan Projects</ion-label>
    </ion-item>
  </ion-list>

  <ion-list [inset]="true" (click)="openUrl(linkInstagram)">
    <ion-item [button]="true">
      <ion-icon color="danger" slot="start" name="logo-instagram" size="large"></ion-icon>
      <ion-label>Instagram Club de fans</ion-label>
    </ion-item>
  </ion-list>

  <ion-list [inset]="true" (click)="openUrl(linkWhatsApp)">
    <ion-item [button]="true">
      <ion-icon color="danger" slot="start" name="logo-whatsapp" size="large"></ion-icon>
      <ion-label>Grupo de Whatsapp</ion-label>
    </ion-item>
  </ion-list>

  <ion-list [inset]="true" (click)="openUrl(linkPlayList)">
    <ion-item [button]="true" class="df">
      <ion-icon color="danger" slot="start" src="assets/icon/spotify.svg" size="large" id="spotify-icon"></ion-icon>
      <ion-label>PlayList del Concierto</ion-label>
    </ion-item>
  </ion-list>

  <ion-list [inset]="true" (click)="openUrl(linkGithub)">
    <ion-item [button]="true">
      <ion-icon color="danger" slot="start" name="logo-github" size="large"></ion-icon>
      <ion-label>Acerca del desarrollador</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
