<ion-content [fullscreen]="true">

  <section class="main-container">
    <section class="fan-project-section">


      <p class="section-title">Fan Project #1</p>

      <div class="df">
        <div class="sections-container">
          <div class="color">

            <ion-card>
              <ion-card-header>
                <ion-card-title>Plateas</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-label>Platea 1</ion-label><br>

              </ion-card-content>
            </ion-card>
            <!--Ion image-->
            <figcaption class="icon">
              <img src="assets/img/red.png" alt="">
            </figcaption>
          </div>


          <div class="color">

            <ion-card>
              <ion-card-header>
                <ion-card-title>Plateas</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-label>Platea 1</ion-label>
              </ion-card-content>
            </ion-card>
            <!--Ion image-->
            <figcaption class="icon">
              <img src="assets/img/blue.png" alt="">
            </figcaption>
          </div>

          <div class="color">

            <ion-card>
              <ion-card-header>
                <ion-card-title>Plateas</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-label>Platea 1</ion-label><br>
              </ion-card-content>
            </ion-card>
            <!--Ion image-->
            <figcaption class="icon">
              <img src="assets/img/yellow.png" alt="">
            </figcaption>
          </div>
        </div>





      </div>
    </section>


    <section class="fan-project-section">
      <section>

        <p class="section-title">Fan project #2</p>
        <figcaption class="fpimg">
          <img src="assets/img/tem.png" alt="The emptiness machine">
        </figcaption>
      </section>
      <section>
        <p class="section-title">Fan project #3</p>
        <figcaption class="fpimg">
          <img src="assets/img/hhh.gif" alt="The emptiness machine">
        </figcaption>
      </section>
    </section>
  </section>







  <ion-modal [isOpen]="fanProject1ModalVisible">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Fan Project #1</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="changeStatusFP1()" >Ok</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <figcaption class="modal-img-container">
          <img src="assets/img/map.png" alt="Mapa" class="modal-image">
        </figcaption>
        <p>
        Cubre el flash de tu celular con el sticker, enciende tu linterna/flash previo al <strong>inicio del concierto,
          Lost/Breaking the Habit</strong> y al final de <strong> Bleed it Out.</strong>

          <br>Ubica tu sección y tu fila para saber que color te corresponde:
        </p>
        <img src="assets/img/fp1-description.png" alt="Guia">
      </ion-content>
    </ng-template>
  </ion-modal>








</ion-content>