<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab </ion-title>
    </ion-toolbar>
  </ion-header>

  <section class="main-container">
    <section class="fan-project-section">


      <p class="section-title">Fan Project #1</p>

      <div class="df">
        <div class="sections-container">
        <div class="color">

          <ion-card>
            <ion-card-header>
              <ion-card-title>Plateas</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-label>Platea 1</ion-label><br>
            </ion-card-content>
          </ion-card>
          <!--Ion image-->
          <figcaption class="icon">
            <img src="assets/img/image.png" alt="">
          </figcaption>
        </div>


        <div class="color">

          <ion-card>
            <ion-card-header>
              <ion-card-title>Plateas</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-label>Platea 1</ion-label>
            </ion-card-content>
          </ion-card>
          <!--Ion image-->
          <figcaption class="icon">
            <img src="assets/img/image.png" alt="">
          </figcaption>
        </div>

        <div class="color">

          <ion-card>
            <ion-card-header>
              <ion-card-title>Plateas</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-label>Platea 1</ion-label><br>
            </ion-card-content>
          </ion-card>
          <!--Ion image-->
          <figcaption class="icon">
            <img src="assets/img/image.png" alt="">
          </figcaption>
        </div>
</div>



        
        <figcaption class="map-container">
          <img src="assets/img/map.png" alt="mapa">
        </figcaption>
      </div>


    </section>
    <section class="fan-project-section">
      <p class="section-title">Fan project #2</p>
    </section>
  </section>
</ion-content>