<ion-content [fullscreen]="true">

  <section class="main-container">
    <section class="fan-project-section">
      
      <p class="section-title" (click)="changeStatusFP1()">Fan Project #1</p>

      <div class="df">
        <div class="sections-container">


          <div class="color" (click)="changeToFullColorPage('red')">
            <ion-card>
              <ion-card-header>
                <ion-card-title>Plateas</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-label>Platea 1 | Platea 2</ion-label><br>

              </ion-card-content>
            </ion-card>
            <!--Ion image-->
            <figcaption class="icon">
              <img src="assets/img/red.svg" alt="">
            </figcaption>
          </div>


          <div class="color" (click)="changeToFullColorPage('blue')">

            <ion-card>
              <ion-card-header>
                <ion-card-title>Graderías</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-label>Fila 1</ion-label>
              </ion-card-content>
            </ion-card>
            <!--Ion image-->
            <figcaption class="icon blue-logos">
              <img src="assets/img/blue.svg" alt="">
            </figcaption>
          </div>

          <div class="color" (click)="changeToFullColorPage('yellow')">

            <ion-card>
              <ion-card-header>
                <ion-card-title>Graderías</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-label>Filas 13 y 14</ion-label><br>
              </ion-card-content>
            </ion-card>
            <!--Ion image-->
            <figcaption class="icon yellow-logo">
              <img src="assets/img/yellow.svg" alt="" >
            </figcaption>
          </div>
        </div>
      </div>
    </section>


    <section class="fan-project-section">
      <section>
        <p class="section-title" (click)="changeStatusFP2()">Fan project #2</p>
        <figcaption class="fpimg">
          <img src="assets/img/tem.png" (click)="changeToFullColorPage('pink')" alt="The emptiness machine">
        </figcaption>
      </section>
    </section>
    
    <section class="fan-project-section" (click)="changeStatusFP3()">
        <p class="section-title">Ideas Adicionales</p>
    </section>
  </section>







  <ion-modal [isOpen]="fanProject1ModalVisible">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Fan Project #1</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="changeStatusFP1()" >Ok</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <figcaption class="modal-img-container">
          <img src="assets/img/map.png" alt="Mapa" class="modal-image">
        </figcaption>
        <p>
        Cubre el flash de tu celular con el sticker, enciende tu linterna/flash previo al <strong>inicio del concierto,
          Lost/Breaking the Habit</strong> y al final de <strong> Bleed it Out.</strong>

          <br>Ubica tu sección y tu fila para saber que color te corresponde:
        </p>
        <img src="assets/img/fp1-description.png" alt="Guia">
      </ion-content>
    </ng-template>
  </ion-modal>


  <ion-modal [isOpen]="fanProject2ModalVisible">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Fan Project #2</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="changeStatusFP2()" >Ok</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <figcaption class="modal-img-container">
          <img src="assets/img/pinkfp.png" alt="Mapa" class="modal-image">
        </figcaption>
        <p>
          Durante <strong>The Emptiness Machine</strong>, queremos mostrar nuestro apoyo al gran regreso de la banda

          y su nuevo disco <strong>"From zero"</strong> mostrando el colorosa como el color más icónico de la portada.
        </p>

        <figcaption class="info-fp1">
          <img src="assets/img/smartphone-tem.png" alt="asdas">
          <img src="assets/img/mike-art.png" alt="" class="mike-art">
        </figcaption>
      </ion-content>
    </ng-template>
  </ion-modal>



  <ion-modal [isOpen]="fanProject3ModalVisible">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Ideas Adicionales</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="changeStatusFP3()" >Ok</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item-group>

          <ion-label class="description-ideas">Cantar <strong> One More light</strong> antes o después del show como homenaje a Chester</ion-label>
          <figcaption class="modal-img-container">
            <img src="assets/img/chester.png" alt="Mapa" class="modal-image item-model">
          </figcaption>
        </ion-item-group>
        <ion-item-group>

          <ion-label class="description-ideas">Levantar las manos al tiempo y moverlas de lado a lado durante <strong> Lying From You</strong></ion-label>
          <figcaption class="modal-img-container">
            <img src="assets/img/hhh.gif" alt="Mapa" class="modal-image">
          </figcaption>
        </ion-item-group>
      </ion-content>
    </ng-template>
  </ion-modal>







</ion-content>