.main-container{
    width: 100%;
    height: 100%;

}

.fan-project-section{
    width: 100%;

}



.section-title{
    padding: 1rem;
    text-align: left;
    border: 1px solid black;
    border-radius: 1rem;
}

.df{
    display: flex;
    width: 100%;
}
.df ion-card{
    width: 50%;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img{
    width: 4rem;
    border-radius: 50%;
    border: 3px solid red;
}

.map-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}

.color{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sections-container{
    display: block;
    width: 100%;
}

.fpimg{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fpimg img{
    width: 50%;
    border-radius: 1rem;
}

.fp34{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.modal-img-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-image{
    width: 70%;
}

.info-fp1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.info-fp1 img{
    width: 45%;

}

.mike-art{
    border-radius: 1rem;
}