<section class="full-container" (click)="tripleClick()"
[ngClass]="{
  'red' : backGroundColor === 'red',
  'blue' : backGroundColor === 'blue',
  'yellow' : backGroundColor === 'yellow',
  'pink' : backGroundColor === 'pink'
}"
>


  <figcaption  class="icons-container" 
  
  [ngClass]="{
    'visible' : isButtonBackVisible === true,
    'hidden' : isButtonBackVisible === false
  }">
    <ion-icon name="arrow-back-circle-outline"  (click)="backMainPage()"></ion-icon>
  </figcaption>


</section>