.full-container{
    width: 100%;
    height: 100%;
}

.pink{
    background-color: pink;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.icons-container ion-icon{
    margin: .7rem;
    position: fixed;
    left: 0;
    top: 0;
    zoom: 3.0;
    color: white;
}