.full-container{
    width: 100%;
    height: 100%;
}

.pink{
    background-color: #D061A2;
}

.red{
    background-color: #C92127;
}

.blue{
    background-color: #3257A7;
}

.yellow{
    background-color: #FFCE08;
}

.icons-container ion-icon{
    margin: .7rem;
    position: fixed;
    left: 0;
    top: 0;
    zoom: 3.0;
    color: white;
}

.hidden{
    display: none;
}

.visible{
    display: block;
}